@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
  /* Show it's not fixed to the top */
  min-height: 75rem;
  font: 'Open Sans';
  padding-top: 6rem;
}
.custom__addon {
    color: #fff;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.blue__addon {
    background-color: #337ab7;
}
.red__addon {
    background-color: #B73333;
}
.green__addon {
    background-color: #33B757;
}
.yellow__addon {
    background-color: #B7B433;
}
.purple__addon {
    background-color: #B733AC;
}
.custom__select {
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
