<!DOCTYPE html>
{% load static %}
{% load bootstrap %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">

    <title>SQL query </title>

    <!-- Bootstrap core CSS -->
    <link href="https://rawgit.com/spavz/serverstats/master/servers/templates/servers/docs/examples/navbar-top-fixed/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://rawgit.com/spavz/serverstats/master/servers/templates/servers/docs/examples/navbar-top-fixed/navbar-top-fixed.css" rel="stylesheet">
  </head>

  <body>

    <div class="pos-f-t">
      <div class="collapse" id="navbar-header">
        <div class="container-fluid bg-inverse p-a-1">
          <h6>Report bugs @vishak</h6>
        </div>
      </div>
      <div class="navbar navbar-light bg-faded navbar-static-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
          &#9776;
        </button>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron">
        <h1>Server query</h1>
        <p class="lead">       </p>
        <p class="lead">Fields are optional</p>
      </div>
    </div>

      <div class="container">
        <form action="{% url 'servers:retrieve' %}" method="post">
          <legend>Input (Database Query)</legend>
          <br><br>
          {% csrf_token %}
          {% for field in form %}
          {{ field|bootstrap }}
          {% endfor %}
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form>

      </div>


</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://rawgit.com/spavz/serverstats/master/servers/templates/servers/docs/examples/navbar-top-fixed/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
